.form {
  background-image: url('../images/Form.svg');
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 17/10;
  min-height: 0;
  height: 85vh;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display:flex;
  font-family: 'Modern Sans';
  src: url(../fonts/modern_sans_serif_7.ttf);
}
.inner {
  margin: 0 30%;
  padding: 30px;
  border-radius: 5px;
}
.inner h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.header-wrapper img{
  width: 12.5%;
  height: auto;
}
.header-wrapper h2{
  margin-right: 25%;
}
p {
  padding: 20px;
  text-align: center;
}
.btn-danger-new {
  color: #fff !important;
  background-color: #e15d50 !important; 
  border-color: #e15d50 !important;
}
.btn-outline-danger-new {
  background-color: #fff !important; 
  border-color: #e15d50 !important;
  color: #e15d50 !important;
}